
<h1>Listado De Encuestas</h1>

<form>
    <button class="btn btn-success mb-3" routerLink="add">Nueva Encuesta</button>
</form>

@for (item of encuestasList; track $index) {
<ul>
    <li>{{item.id}} {{item.nombre}} {{item.totalrespondido}}
        <button class="btn btn-primary" routerLink="edit/{{ item.id }}">Editar</button>
           <button class="btn btn-danger" (click)="deleteEncuestas(item.id)">Borrar</button>
    </li>
</ul>
   
}

      <button type="button" class="btn btn-secondary" (click)="back()">Volver al inicio</button>